In [ ]:
## This is about finding baseball players and comparing them by how often they reach base and how much they are paid.
### Knowl

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [35]:
%matplotlib inline

In [36]:
batting_stats = pd.read_csv('data/Batting.csv', sep=',', low_memory=False)

In [37]:
salary_stats = pd.read_csv('data/Salaries.csv', sep=',', low_memory=False)

In [38]:
appearances_stats = pd.read_csv('data/Appearances.csv', sep=',', low_memory=False)

In [39]:
bio_info = pd.read_csv('data/Master.csv', sep=',', low_memory=False)

In [40]:
bio = bio_info[['playerID', 'nameFirst', 'nameLast']]

In [41]:
batting = batting_stats[['playerID', 'yearID', 'teamID', 'AB', 'H', 'BB', 'HBP', 'SF']]

In [42]:
salary = salary_stats[['playerID', 'yearID', 'teamID', 'salary']]

In [43]:
position = appearances_stats[['playerID', 'yearID', 'teamID', 'G_p', 'G_c', 'G_1b', 'G_2b', 'G_3b', 'G_ss', 'G_lf', 'G_cf', 'G_rf', 'G_of', 'G_dh', 'G_all']]

In [62]:
players = pd.merge(pd.merge(pd.merge(bio,batting), position), salary)

In [63]:
players.head()

,playerID,nameFirst,nameLast,yearID,teamID,AB,H,BB,HBP,SF,...,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_all,salary
0,aardsda01,David,Aardsma,2004,SFN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,11,300000
1,aardsda01,David,Aardsma,2007,CHA,0,0,0,0,0,...,0,0,0,0,0,0,0,0,25,387500
2,aardsda01,David,Aardsma,2008,BOS,1,0,0,0,0,...,0,0,0,0,0,0,0,0,47,403250
3,aardsda01,David,Aardsma,2009,SEA,0,0,0,0,0,...,0,0,0,0,0,0,0,0,73,419000
4,aardsda01,David,Aardsma,2010,SEA,0,0,0,0,0,...,0,0,0,0,0,0,0,0,53,2750000

In [47]:
# players = players[players['G_all'] > 30]

In [48]:
players = players.set_index(['playerID'])

In [64]:
players.head()

,playerID,nameFirst,nameLast,yearID,teamID,AB,H,BB,HBP,SF,...,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_all,salary
0,aardsda01,David,Aardsma,2004,SFN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,11,300000
1,aardsda01,David,Aardsma,2007,CHA,0,0,0,0,0,...,0,0,0,0,0,0,0,0,25,387500
2,aardsda01,David,Aardsma,2008,BOS,1,0,0,0,0,...,0,0,0,0,0,0,0,0,47,403250
3,aardsda01,David,Aardsma,2009,SEA,0,0,0,0,0,...,0,0,0,0,0,0,0,0,73,419000
4,aardsda01,David,Aardsma,2010,SEA,0,0,0,0,0,...,0,0,0,0,0,0,0,0,53,2750000

In [66]:
players['OBP'] = (players['H']+players['BB']+players['HBP'])/(players['AB']+players['BB']+players['HBP']+players['SF'])

In [67]:
players['OBP_$_ratio'] = (players['OBP']/players['salary'])*1000000

## calculates On Base "Percentage" from recorded stats. 
## then calculates a ratio to the players salary which is multiplied by 1,000,000 to relate to players making more than $1,000,000. 
## this also makes the number more readable.

In [52]:
play_more20 = players['G_all'] >= 20

In [53]:
play_more20 = players[play_more20]

## takes away players with less than 20 games played per year

In [70]:
no_pitchers = play_more20['G_p'] <= 1

In [71]:
no_pitchers = play_more20[no_pitchers]

## takes away pitchers, who cares about their batting, their job is to get outs

In [72]:
players_filtered = no_pitchers.copy()

In [73]:
sorted_by_ratio = players_filtered.sort(['OBP_$_ratio'], ascending=False)

## sorts with highest OBP ratio on top

In [58]:
sorted_by_ratio.head()

,nameFirst,nameLast,yearID,teamID,AB,H,BB,HBP,SF,G_p,...,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_all,salary,OBP,OBP_$_ratio
playerID,,,,,,,,,,,,,,,,,,,,,
jamesdi01,Dion,James,1993,NYA,343,114,31,2,1,0,...,0,91,14,1,103,0,115,0,0.389920,inf
mazzile01,Lee,Mazzilli,1986,NYN,58,16,12,2,0,0,...,0,8,0,2,10,0,39,60000,0.416667,6.944444
jonestr01,Tracy,Jones,1986,CIN,86,30,9,0,1,0,...,0,23,3,0,24,0,46,60000,0.406250,6.770833
krukjo01,John,Kruk,1986,SDN,278,86,45,0,2,0,...,0,70,0,6,74,0,122,60000,0.403077,6.717949
greenmi01,Mike,Greenwell,1986,BOS,35,11,5,0,0,0,...,0,8,0,7,15,1,31,60000,0.400000,6.666667

In [59]:
def one_year(year):
    return sorted_by_ratio[sorted_by_ratio.yearID == year]

## function above produces 1 year of players
### bball_year = players[players.yearID == 1999]

In [75]:
one_year(2005).head(30)

,nameFirst,nameLast,yearID,teamID,AB,H,BB,HBP,SF,G_p,...,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_all,salary,OBP,OBP_$_ratio
playerID,,,,,,,,,,,,,,,,,,,,,
youklke01,Kevin,Youkilis,2005,BOS,79,22,14,2,0,0,...,0,0,0,0,0,0,44,323125,0.400000,1.237911
wrighda03,David,Wright,2005,NYN,575,176,72,7,3,0,...,0,0,0,0,0,0,160,322500,0.388128,1.203497
sanchal03,Alex,Sanchez,2005,TBA,133,46,7,0,2,0,...,0,0,18,14,31,5,43,316000,0.373239,1.181137
cirilje01,Jeff,Cirillo,2005,MIL,185,52,23,4,0,0,...,0,0,0,0,0,0,77,316000,0.372642,1.179245
peraljh01,Jhonny,Peralta,2005,CLE,504,147,58,3,4,0,...,141,0,0,0,0,0,141,316700,0.365554,1.154258
mauerjo01,Joe,Mauer,2005,MIN,489,144,61,1,3,0,...,0,0,0,0,0,13,131,325000,0.371841,1.144127
betemwi01,Wilson,Betemit,2005,ATL,246,75,22,0,2,0,...,25,0,0,0,0,0,115,316000,0.359259,1.136896
bayja01,Jason,Bay,2005,PIT,599,183,95,6,7,0,...,0,146,30,0,162,0,162,355000,0.401697,1.131542
dejesda01,David,DeJesus,2005,KCA,461,135,42,9,6,0,...,0,0,119,0,119,0,122,320000,0.359073,1.122104
churcry01,Ryan,Church,2005,WAS,268,77,24,5,3,0,...,0,51,20,21,85,0,102,316000,0.353333,1.118143
hawpebr01,Brad,Hawpe,2005,COL,305,80,43,0,3,0,...,0,0,0,89,89,0,101,317000,0.350427,1.105449
orrpe01,Pete,Orr,2005,ATL,150,45,6,1,0,0,...,1,3,0,0,3,1,112,300000,0.331210,1.104034
langery01,Ryan,Langerhans,2005,ATL,326,87,37,5,3,0,...,0,54,19,48,114,0,128,316000,0.347709,1.100345
atkinga01,Garrett,Atkins,2005,COL,519,149,45,5,4,0,...,0,0,0,0,0,0,138,317000,0.347295,1.095568
sizemgr01,Grady,Sizemore,2005,CLE,640,185,52,7,2,0,...,0,0,155,0,155,0,158,318300,0.348074,1.093541
perezan01,Antonio,Perez,2005,LAN,259,77,21,5,1,0,...,9,1,0,0,1,1,98,330000,0.360140,1.091333
utleych01,Chase,Utley,2005,PHI,543,158,69,9,7,0,...,0,0,0,0,0,0,147,345000,0.375796,1.089264
sullico01,Cory,Sullivan,2005,COL,378,111,28,3,5,0,...,0,24,83,8,114,0,139,316000,0.342995,1.085428
hafnetr01,Travis,Hafner,2005,CLE,486,148,79,9,4,0,...,0,0,0,0,0,129,137,377400,0.408304,1.081888
grossga01,Gabe,Gross,2005,TOR,92,23,10,0,0,0,...,0,19,0,20,37,0,40,300000,0.323529,1.078431
lunahe01,Hector,Luna,2005,SLN,137,39,9,4,1,0,...,6,3,1,21,25,0,64,320000,0.344371,1.076159
tracych01,Chad,Tracy,2005,ARI,503,155,35,8,6,0,...,0,6,0,47,51,0,145,335000,0.358696,1.070733
hillbo01,Bobby,Hill,2005,PIT,93,25,9,2,1,0,...,0,0,0,0,0,0,58,326000,0.342857,1.051709
sanchfr01,Freddy,Sanchez,2005,PIT,453,132,27,5,3,0,...,11,0,0,0,0,0,132,322000,0.336066,1.043682
cabremi01,Miguel,Cabrera,2005,FLO,613,198,64,2,6,0,...,0,134,0,0,134,0,158,370000,0.385401,1.041626
barmecl01,Clint,Barmes,2005,COL,350,101,16,6,1,0,...,80,0,0,0,0,0,81,317000,0.329759,1.040248
hardyjj01,J. J.,Hardy,2005,MIL,372,92,44,1,2,0,...,119,0,0,0,0,0,124,316000,0.326969,1.034712
taverwi01,Willy,Taveras,2005,HOU,592,172,25,7,4,0,...,0,0,148,0,148,0,152,316000,0.324841,1.027977
adamsru01,Russ,Adams,2005,TOR,481,123,50,3,8,0,...,132,0,0,0,0,0,139,316000,0.324723,1.027605
gonzalu02,Luis,Gonzalez,2005,COL,404,118,20,6,3,0,...,17,1,0,7,8,0,128,324000,0.332564,1.026431